*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.password-container{
    background-color: pink;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    margin: 10px;
}

.input-container{
    border: solid 2px black;
    padding: 10px;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
    display:flex;
}

.input{
    border: none;
    background-color: transparent;
    outline: none;
    letter-spacing: 4px;
    font-size: 24px;

}

.input::placeholder{
    letter-spacing: 0px;
}

.fa-copy{
    cursor: pointer;
    opacity: O.4;
}

.fa-copy:hover{
    opacity: 0.7;
}

.btn{
    background-color: black;
    color:white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 20px;
}

.btn:hover{
    background-color: purple;
}
.btn:active{
    transform: scale(0.95);
}

.alert-container{
    position: fixed;
    width: 300px;
    height: 50px;
    background-color: lightgreen;
    right: 20px;
    bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.active.alert-container{
    right: -300px;
    
}