*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Arial', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.container{
    width: 100%;
    height: 100%;
    background-image: url("./Assets/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container img{
    width: 100%;
    height: 90%;
    /* -o-object-fit: cover; */
    object-fit: cover;
    
}
.container bar{
    height: 10%;
    width:100%;
}